.vehicle_select {
  width: 100%;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin-top: -9px;
}

.dropdown_select {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown_select option {
  color: #ffffff;
  background-color: #d71f26;
}

.vehicle_select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}