/* Subscribe Section */
.subscribe-container {
  margin: 20px 65px;
  padding: 40px;
  height: 506px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  color: #000000;
  border-radius: 10px;
}

.subscribe-left {
  flex: 1;
  padding-right: 80px;
}

.subscribe-left h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.form-input-subscribe {
  padding: 12px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  background-color: #F8F8F8;
  box-sizing: border-box;
}

.subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: #E21E26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
  width: 464px;
  height: 57px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subscribe-button:hover {
  background-color: #b60805;
  transform: translateY(-2px);
}

/* Subscribe Right */
.subscribe-right {
  display: flex;
  align-items: center;
  background-color: #E21E26;
  padding: 20px;
  flex: 1;
}

.phone-mockup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-mockup img {
  max-width: 100%;
  height: 417px;
}

.phone-form {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  background-color: #E21E26;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

.phone-form p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.5px;
  color: #ffffff;
}

.phone-form input {
  width: 263px;
  height: 48px;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
  background-color: #F8F8F8;
  border: none;
  box-sizing: border-box;
}

.form-input-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.phone-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.phone-button:hover {
  color: #000000;
  background-color: #d71f26;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.app-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.app-buttons .app-button {
  width: 103px;
  height: 30px;
  margin-right: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-buttons .app-button:hover {
  transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .subscribe-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin: 20px;
  }

  .subscribe-left {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .subscribe-button {
    width: 100%;
  }

  .subscribe-right {
    flex-direction: column;
    padding: 20px;
  }

  .phone-mockup img {
    height: auto;
  }

  .phone-form {
    padding-left: 0;
    padding-top: 20px;
  }

  .phone-form input {
    width: 100%;
  }

  .app-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .app-buttons .app-button {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .subscribe-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffdfd;
    color: #000000;
    border-radius: 10px;
  }

  .subscribe-left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

  }

  .subscribe-left h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .form-input-subscribe {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F8F8F8;
    width: 100%;
    height: 48px;

  }

  .subscribe-button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #E21E26;
    color: white;
    border: none;
    border-radius: 5px;
    width: 128px;
    height: auto;
    font-size: 13px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .subscribe-button:hover {
    background-color: #b60805;
    transform: translateY(-2px);
  }

  .subscribe-right {
    width: 100%;
    background-color: #E21E26;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }

  .phone-mockup {
    margin-bottom: 10px;
  }

  .phone-mockup img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .phone-form p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .phone-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #F8F8F8;
  }

  .phone-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .phone-button:hover {
    color: #000000;
    background-color: #d71f26;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .form-input-text {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .app-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .app-buttons .app-button {
    width: 130px;
    height: auto;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .subscribe-right {
    display: none;
  }
}



@media (max-width: 480px) {
  .subscribe-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffdfd;
    color: #000000;
    border-radius: 10px;
  }

  .subscribe-left {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .subscribe-left h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .form-input-subscribe {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F8F8F8;
    width: 100%;
    height: 48px;



  }

  .subscribe-button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #E21E26;
    color: white;
    border: none;
    border-radius: 5px;
    width: 128px;
    height: auto;
    font-size: 13px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .subscribe-button:hover {
    background-color: #b60805;
    transform: translateY(-2px);
  }

  .subscribe-right {
    width: 100%;
    background-color: #E21E26;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }

  .phone-mockup {
    margin-bottom: 10px;
  }

  .phone-mockup img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .phone-form p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .phone-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #F8F8F8;
  }

  .phone-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .phone-button:hover {
    color: #000000;
    background-color: #d71f26;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .form-input-text {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .app-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .app-buttons .app-button {
    width: 130px;
    height: auto;
  }



  .subscribe-right {
    display: none;
  }
}





@media (min-width: 768px) {
  .mobile-subscribe {
    display: none;
  }
}

/*   mobile subscribe right side */
.mobile-subscribe {
  background-color: #D71F26;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0px 10px;
  border-radius: 10px;
}

.mobile-subscribe .content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;

}

.mobile-subscribe img.mobile-image {
  width: 50%;
  max-width: 250px;
}

.mobile-subscribe .text-and-links {
  text-align: left;
  flex-grow: 1;
  margin-top: 30px;


}

.mobile-subscribe .form-input-text {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.mobile-subscribe .app-links img {
  display: block;
  margin-bottom: 15px;
  width: 130px;

}

.mobile-subscribe p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.mobile-subscribe input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 296px;
  display: block;
  margin-left: 20px;


}

.mobile-subscribe button {
  width: calc(100% - 40px);
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 129px;
  display: block;
  margin-left: 20px;
}