/* Locations */
.locations {
  height: 325px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  margin: 30px 65px;
  padding: 20px;


}

.locations h1 {
  margin: 50px 0;
  font-weight: 400;
  font-size: 34px;
  line-height: 51px;
}

.location {
  display: inline-flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.location img {
  margin-right: 10px;
  width: 22px;
  height: 28px;
}

.vertical-line-location {
  width: 1px;
  height: 30px;
  background-color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .locations {
    margin: 20px 10px;

  }

  .locations h1 {
    font-size: 30px;
    line-height: 44px;

  }

  .location {
    font-size: 16px;

  }
}

@media (max-width: 768px) {
  .locations {
    margin: 20px 5px;
    padding: 15px;
  }

  .locations h1 {
    font-size: 26px;
    line-height: 38px;

  }

  .location {
    font-size: 14px;
  }

  .location img {
    width: 20px;

    height: 26px;
  }

  .vertical-line-location {
    display: none;
  }
}

@media (max-width: 480px) {
  .locations {
    margin: 10px 5px;
    padding: 10px;

  }

  .locations h1 {
    font-size: 22px;
    /* Further reduce font size */
    line-height: 32px;
    /* Adjust line height */
  }

  .location {
    font-size: 12px;
    /* Further reduce font size */
    gap: 10px;
    /* Adjust gap between items */
  }

  .location img {
    width: 18px;
    /* Further adjust icon size */
    height: 22px;
    /* Further adjust icon size */
  }
}