/* FAQ Section */
.faq-container {
  width: 80%;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.faq-container h2 {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 20px;

}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 10px;
}

.faq-answer {
  display: none;
  font-size: 14px;
  opacity: 80%;
  margin-top: 10px;
}

.faq-item.active .faq-answer {
  display: block;
}

.toggle-button {
  width: 24px;
  height: 24px;

}

.faq-item.active .toggle-button {
  content: url('/xicon.svg');

}